<% if user_signed_in? %>
<div class="page-header">
<h1>GET Groups</h1> <br><%= link_to 'New Group', new_group_path, Class: "btn btn-success"%> 
</div>

<% @groups.each do |group| %>
<div class="status">
  <div class="row">

    <div class="span7">

      <strong><%= link_to group.name,showgroup_path(group.id) %></strong>
      <p><%= group.description  %></p>
      <div class="meta">
       
        <span class="admin">
         
     
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
     
 <% else !user_signed_in? %>
  <h1> Please Login </h1>
 
  </div>
  <% end %>
</div>
